
.row{
    display: flex;
    /* justify-content: space-between; */
    /* width: 450px; */
}
/* .image_container img{
    width: 200px;
} */
 .order{
    border: 1px solid gray;
    background-color: gray;
    text-align: center;
 }